* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

    font-family: Poppins, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px;
    padding: 55px;
}

.header-logo {
    font-weight: bold;
    font-size: 38px;
    margin-right: 100px;

    text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.header-buttons {
    display: flex;
    gap: 20px;
    font-weight: 300;
    font-size: 20px;
}

.header-actualButton {
    color: #000000;
}

.header-actualButton:hover {
    color: #6c63ff;
    font-weight: 400;
}

.logo-purple {
    color: #6c63ff;
}

.main {
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.main-image {
    width: 450px;
}

.main-title {
    text-align: center;
    font-size: 50px;
}

.purple {
    color: #6c63ff;
}

.form-section {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
}

.form-inputs {
    display: flex;
    gap: 30px;
}

.text {
    margin-left: 15px;
    width: 500px;
    height: 230px;
    padding: 30px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 6px;
    border: 1px black solid;
    box-shadow: 0px 13px 15px 0px rgba(0, 0, 0, 0.131);
}

.form-inputs input {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 8px;
    border: #6c63ff 3px solid;

    box-shadow: 0px 13px 15px 0px rgba(0, 0, 0, 0.131);
}

.button {
    margin-top: 30px;
    border-style: none;
    cursor: pointer;

    background-color: #000000;
    color: #6c63ff;
    font-weight: bolder;
    font-size: 25px;
    width: 380px;
    height: 50px;
    border-radius: 8px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 180px;
    background-color: #6f59fb;
    height: 300px;
    gap: 50px;
}

.footer-buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    gap: 15px;

    text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.footer-button:hover {
    color: white;
}

.footer-button {
    font-weight: bolder;
    color: black;
}

.footer-logo-top {
    text-decoration: none;
    font-weight: bolder;
    font-size: 50px;
    color: black;

    text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}
